#checkbox{
    display: none;
}
#checkbox + label{
    display: block;
}
#checkbox + label:before{
    content: url(heart1.png);
}

#checkbox:visited + label:before{
    content: url(heart4.png);
}
#checkbox:hover + label:before{
    content: url(heart2.png);
}
#checkbox:active + label:before{
    content: url(heart3.png);
}


/*div {
	position: relative;
	width: 230px;
	height: auto;
	margin-left: 40%;
	margin-top: 40px;
}
div.heart2, div.heart3, div.heart4 {
	display: none;
	
}

div.heart1:hover + div.heart2 {
	display: block;
	position: absolute;
	top: 0px;
	left: 2px;
}

div.heart2:active + div.heart3 {
	display: block;
	margin-top: -200px;
}
div.heart2:focus + div.heart4 {
	display: block;
}*/
