.tiles-promo {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
}

.tile {
    box-sizing: border-box;
    flex: 100%;
    width: 25%;
    padding: 2em;
    color: #fff;
    text-align: center;
}

.tile_small {
    flex: 50%;
}
div.img1, div.img2, div.img3, div.img4, div.img5, div.img6 {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
