img {
	width: 200px;
	height: 200px;
}
#checkbox{
    display: none;
}
#checkbox + label > img.ball {
    transition-duration: 3s; 
    transition-timing-function: ease-out;
}
#checkbox:checked + label > img.ball {
	content: '';
    display: block;
    transform: translate(1700px, 0);
	transition-duration: 3s;
	transition-timing-function: ease-out;
}
