header {
	border: 2px solid;
	padding: 5px;
	overflow: auto;
	font-size: 28px;
	font-weight: 800;
}
header p {
	text-align: center;
}
header img {
	margin-right: 25%;
	margin-top: 15px;
}

#logo {
	display: inline-block;
	float: right;
}

nav {
	margin: 30px 0;
	background-color: #000;
	color: #fff;
	border: 10px solid;
	border-color: #706D74;
}
nav ul {
	padding: 0;
	margin: 10px;
	list-style: none;
	position: relative;
}
nav ul li {
	margin: 0px -7px 0 0;
	display: inline-block;
	background-color:#FF772D;

}
nav a {
	display: block;
	padding: 0 10px;
	font-size: 20px;
	line-height: 30px;
	text-decoration: none;
	color: #fff;
}
nav a:hover {
	background-color:#7C22B6;
}
nav ul ul {
	display: none;
	position: absolute;
	top: 70%;
	
}
nav ul li:hover > ul {
	display: block;
}

nav ul ul li {
	min-width: 170px;
	float: none;
	display: list-item;
	position: relative;
	background-color: #C6ACFF;
}
li > a:after {content: ' ‣';}
li > a:only-child:after { content: ''; }


label span {
	font-weight: 800;
	border-bottom: 1px solid;

}
iframe {
	display: none;
}
#checkbox{
    display: none;
}
#checkbox:checked + label + iframe {
	content: '';
    display: block;
}

form {
	border: 2px dashed;
	width: 400px;
	margin-right: auto;
	margin-left: 0;
	padding: 0 15px 15px 15px;
}
h4 {
	text-align: center;
	font-size: 20px;

}
p a:focus iframe {
	display: block;
	position: absolute;
	left: 230px;
}

div.adress {
	display: none;
}
input[name="1"]:checked + div.adress {
	display: block;
}


input#btn2 {
	display: none;
}
input#read:checked + input#btn1 {
	display: none;
}
input#read:checked + input#btn1 + input#btn2 {
	display: block;
}
